.footer {
  background-color: #2c2e2d;
  text-align: center;
  padding-top: 75px;
  overflow: hidden;
  position: relative;
  height: 390px;
  box-sizing: border-box;

  .instafeed {
    top: 0;
    left: 0;
    position: absolute;
    height: 390px;
    width: 130%;
    margin-left: -15%;
    overflow: hidden;

    @media (max-width: 679px) {
      width: 300%;
      margin-left: -150%;
    }

    img {
      height: 390px;
      opacity: .3;
      display: inline-block;
    }
  }


  big {
    width: 216px;
    height: 20px;
    color: white;
    font-family: @gotham;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  i {
    width: 235px;
    opacity: 0.6;
    color: white;
    margin: 16px auto 30px auto;
    line-height: 20px;
  }

  .on-the-track {
    margin-top: 70px;
    width: 600px;
    height: 328px;
    padding-bottom: 100px;

    @media @small {
      margin-top: 30px;
    }

    @media (max-width: 679px) {
      width: 100%;
    }
  }
}

.firm-info {
  position: absolute;
  bottom: 7px;
  width: 100%;
  text-align: center;
  font-family: "Gotham A", "Gotham B", 'Gotham Book';
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #fff;
  text-transform: uppercase;
  opacity: .7;
}

@media (min-width: 960px) {

  .footer {
    padding: 0;
    background-size: 130px;
    background-repeat: repeat;


    .black-footer-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      padding-top: 75px;
    }

    .on-the-track {
      border: 16px solid white;
      border-bottom: none;
      padding-top: 68px;
    }
  }

}
