.kudos {
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;

  .kudos-line {
    width: 55px;
    height: 1px;
    display: block;
    background: #212E29;
    margin: 4px auto 0;
  }

  .kudos-number {
    display: inline-block;

    p {
      font-size: 31px;
      font-family: Sentinel-Black;
      font-size: 31px;
      color: #212E29;
      line-height: 37px;
    }
  }
}
