.kudos {
  transition: 300ms;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
  margin-top: 46px;

  @media @small {
    display: block;
  }

  @media @medium {
    margin-top: 48px;
  }

  * {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .showme {
    transition: opacity 1000ms;
    opacity: 1 !important;
  }
  &:hover {
    .scale(1.3);
  }



  @media @small {
    p, .kudos-line {
      transition: transform 500ms;
    }

    &:active {
     .scale(1.5);
    }
  }


  .kudos-line {
    transition: 500ms;
    width: 55px;
    height: 1px;
    display: block;
    background: #212E29;
    margin: 4px auto 0;
  }
  .kudos-counter {
    position: relative;
    top: -20px;
  }

  .kudos-number {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 65px;

    p {
      font-size: 31px;
      font-family: Sentinel-Black;
      font-weight: 600;
      font-size: 31px;
      color: #212E29;
      line-height: 37px;
      position: absolute;
      top: 0;

      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
}
