<div class="homepage">
  <div class="logo"></div>
  <div class="title">
    <h1 class="homepage-title">
        <span class="time-title">Time</span>
        <div class="reveals-the-title nobr">reveals the</div>
        Quality
    </h1>
    <div class='js-open-menu homepage-menu-button'>Check our projects</div>
  </div>

  <div class="contact-info">
    <p>Orli 18, Brno, Czech republic</p>
    <p>+420 603541668 / <a href="mailto:treebeard@greenwoodents.com">treebeard@greenwoodents.com</a></p>
  </div>

  <div class="clouds-wrap">
    <ul class="clouds inline-top-clouds">
      <li></li>
      <li></li>
    </ul>
    <ul class="clouds inline-clouds">
      <li></li>
      <li></li>
    </ul>
    <ul class="clouds inline-small-clouds">
      <li></li>
      <li></li>
    </ul>
    <ul class="clouds inline-bottom-clouds">
      <li></li>
    </ul>
  </div>

  <div class="background-smoke"></div>
  <div class="background-clouds"></div>
  <div class="background background-front-tree"></div>
  <div class="background background-front"></div>
  <div class="background background-back"></div>
</div>

