<div id="reference-header" class="reference-header">
  <div class="mezera"></div>

  <h2 class="project-subtitle"><%- post.subTitle %></h2>
  <h1><%- post.title %></h1>

  <div id="heavy-title-underline" class="heavy-title-underline"></div>
  <div id="tv" class="tv">
    <div id="screen" class="screen">
      <div id="main-preview" class="main-preview">
        <img src="<%- post.projectImage %>" class="main-preview-image"
        style="top:<% if(post.projectImagePosition){ %> <%- post.projectImagePosition %> <% } else { %>-40%<% } %>;">
      </div>
      <div id="screen-overlay" class="screen-overlay"></div>
    </div>
    <div id="stand" class="stand dnt-show">
      <img src="../images/podstavec-monitoru.svg" id="stojan" class="stojan">
      <img src="../images/shadow.png" id="shadow" class="shadow">
    </div>
  </div>
</div>
