.homepage-story {
	//typo on homepage
	.is-quote {
		font-size: 54px;
		color: @brown;
		line-height: 72px;
	}

	h3 {
		color: @green;
	}

	.classy-divider {
		font-family: 'Playfair Display', serif;
		font-style: italic;
		font-size: 16px;
		color: @brown;
		line-height: 36px;
	}
}