.work {
	h3 {
		padding-top: 200px;
		color: @gold;
	}

	.has-divider:after {
		background-color: @gold;
	}
	h1 {
		margin: 0 auto;
		color: @white;
	}

	header {
		height: 580px;
		background-image: url(../../images/reference-bg.jpg);
		background-size: cover;
		display: block;
	}
}

.preview-box {
	width: 50%;
	height: 500px;
	display: inline-block;
	float: left;
}

.preview-1 { background-image: url(../../images/preview-sl.jpg);}
.preview-2 { background-image: url(../../images/preview-playerme.jpg);}
.preview-3 { background-image: url(../../images/preview-metaxa.png);}
.preview-4 { background-image: url(../../images/preview-sl.jpg);}

.arr {
	background-image: url(../../images/arr.svg);
	width: 34px;
	height: 15px;
	margin: 80px auto;
}