<<<<<<< HEAD
// import
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

@typo_color: #ffffff;
@typo_size: 17px;
@typo: 'Crimson Text';
@neon_blue: #63dfe6;

html, button {
	font-size: @typo_size;
}

html, button, .changelog h3 {
	font-family: @typo, sans-serif;
}
html {
	line-height: 1.5;
	color: @typo_color;
}
html {
	font-family: @typo, sans-serif;
	.user-select(none);
}
h1, h2, h3, h4, h5, p, i, span, strong, a, button, blockquote, header li, aside, .flash {
	.user-select(text);
}
=======
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900italic|Lora:400,400italic,700italic);

.family-lora {
	font-family: 'Lora', serif;
}

.family-playfair {
	font-family: 'Playfair Display', serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Playfair Display', serif;
	text-align: center;
}


h3 {
	font-size: 19px;
	line-height: 21px;
	font-weight: 400;
	font-variant: small-caps;
}

p {
	font-family: 'Lora', serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}

>>>>>>> 36ad3c27f7bc6690decdd2f25c3abbc465148fef
