@entiZelena: #92CD00;

@xlarge:  ~"only screen and (min-width: 1280px)";
@large:   ~"only screen and (min-width: 960px)";
@xmedium :  ~"only screen and (min-width: 959px)";
@medium:    ~"only screen and (min-width: 768px)";
@small:    ~"only screen and (max-width: 680px)";

@maximalni: 555px;

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}


.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.body-homepage {
  overflow: hidden;

  .menu-button {
    opacity: 0;
    visibility: hidden;
  }
}



* {
  margin: 0 auto;
  padding: 0;
  outline: none;
}


::selection {
  background-color: #92cd00;
  color: #fff;
}

body {
  background-color: #fff;
  margin: 0;
  text-align: center;
  color: #212e29;
  font-family: @sentinel;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.main {
  background-color: #fff;
}

.body-homepage {
  background-color: rgb(22, 27, 46);

  .main {
    background-color: rgb(22, 27, 46);
    position: relative;
    z-index: 50;
  }
}

.menu-active.body-homepage {
  background-color: #fff;
}



@media (max-width: 959px) {
  .dnt-show {
    display: none;
  }
}




.unknown-ratio-container {
  position: relative;
  margin-bottom: 20px;

  &:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
    padding-bottom: 56.25%;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    background-color: rgba(178, 178, 178, 0.3);
  }
}

.beside {
  float: left;
  width: 49%;
  overflow: hidden;
  box-sizing: content-box;

  .unknown-ratio-container:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
    padding-bottom: 77.1%;
  }
}

.beside:nth-child(5) {
  padding-left: 2%;
}







